<div>
    <h3 class="ma-no-margin" ng-bind="$ctrl.element"></h3>
</div>
<div ng-repeat="point in $ctrl.points track by point.xid">
    <div>
        <p>{{point.name}}</p>
    </div>
    <ma-point-value style="font-size: 12px;" point="point" enable-popup="right"></ma-point-value>
</div>
<div style="margin-top: 16px;" ng-if="$ctrl.element.includes('Load')">
    <md-divider></md-divider>

    <ma-get-point-value point="$ctrl.cost"></ma-get-point-value>
    <pre>{{ $ctrl.cost | json }}</pre>
    <!-- <ma-point-values point="$ctrl.cost" values="values" latest="2" realtime="true"></ma-point-values>
    <div ng-if="values[0].value === values[1].value" ma-tr="ems.demand.neutralMessage"></div>
    <div ng-if="values[1].value > values[0].value" ma-tr="ems.demand.negativelMessage"
        ma-tr-args="$ctrl.priceCalculator(values)"></div>
    <div ng-if="values[0].value < values[1].value" ma-tr="ems.demand.positiveMessage"
        ma-tr-args="$ctrl.priceCalculator(values)"></div>
    <ma-set-point-value point="$ctrl.load"></ma-set-point-value> -->
</div>