<div>
    <h3 class="ma-no-margin" ng-bind="$ctrl.element"></h3>
</div>
<div ng-repeat="point in $ctrl.points track by point.xid">
    <div>
        <p>{{point.name}}</p>
    </div>
    <ma-point-value style="font-size: 12px;" point="point" enable-popup="right"></ma-point-value>
</div>
<div style="margin-top: 16px;" ng-if="$ctrl.element.includes('Load')">
    <md-divider></md-divider>

    <ma-get-point-value point="$ctrl.cost"></ma-get-point-value>\
    <div ng-if="$ctrl.cost.value === 0" ma-tr="ems.demand.neutralMessage"></div>
    <div ng-if="$ctrl.cost.value === 1" ma-tr="ems.demand.negativelMessage">
    </div>
    <div ng-if="$ctrl.cost.value === 2" ma-tr="ems.demand.positiveMessage">
    </div>
    <!-- <ma-set-point-value point="$ctrl.load"></ma-set-point-value> -->
</div>